<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <form #form="ngForm" (ngSubmit)="onSubmit(form.value)">

        <ion-list>

            <ion-item>
                <ion-label floating>Username</ion-label>
                <ion-input type="text" name="username" ngModel></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>Password</ion-label>
                <ion-input type="password" name="password" ngModel></ion-input>
            </ion-item>

        </ion-list>

        <div padding>
            <button ion-button color="primary" type="submit" block>Sign In</button>
        </div>

    </form>

</ion-content>
