<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Product List</ion-title>

    <ion-buttons end *ngIf="!supplierProductData">
        <button (click)="logout($event)">Logout</button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

  <ion-row *ngIf="!products">
      <ion-col class="spinnerCenter"><ion-spinner name="bubbles"></ion-spinner></ion-col>
  </ion-row>

  <ion-list>
    <button ion-item *ngFor="let product of products" (click)="productTapped($event, product)">
      <ion-icon name="shirt" item-left></ion-icon>
      {{product.code}}
      <ion-icon name="arrow-dropright" item-right></ion-icon>
    </button>
  </ion-list>
</ion-content>
