<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedProduct">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Product Details</ion-title>
    <ion-buttons end *ngIf="!supplierProductData">
        <ion-spinner name="bubbles" end></ion-spinner>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <h3 text-center *ngIf="selectedProduct">
    {{selectedProduct.code}}
    <ion-icon name="shirt"></ion-icon>
  </h3>
  <h4 text-center *ngIf="selectedProduct">
    Supplier <b>{{selectedProduct.supplier_id}}</b>
  </h4>

  <ion-list>
      <ion-item>{{selectedProduct.code}}</ion-item>

      <ion-item>
          <h2>Number of Purchase</h2>
          <p item-end>{{selectedProduct.number_of_purchases}}</p>
      </ion-item>

      <ion-item>
          <h2>Number of Sales</h2>
          <p item-end>{{selectedProduct.number_of_sales}}</p>
      </ion-item>

      <ion-item>
          <h2>Product URL</h2>
          <p>{{selectedProduct.product_url}}</p>
      </ion-item>

      <ion-item>
          <h2>Profit</h2>
          <p item-end>{{selectedProduct.profit}}</p>
      </ion-item>

      <ion-item>
          <h2>Purchase Price</h2>
          <p item-end>{{selectedProduct.purchase_price}}</p>
      </ion-item>

      <ion-item>
          <h2>Selling Price</h2>
          <p item-end>{{selectedProduct.selling_price}}</p>
      </ion-item>

      <ion-item>
          <h2>Stock</h2>
          <p item-end>{{selectedProduct.stock}}</p>
      </ion-item>

      <ion-item>
          <h2>Supplier Code</h2>
          <p item-end>{{selectedProduct.supplier_code}}</p>
      </ion-item>

      <ion-item>
          <h2>Supplier URL</h2>
          <p>{{selectedProduct.supplier_url}}</p>
      </ion-item>

  </ion-list>

  <h4 text-center *ngIf="supplierProductData">
    Supplier Data 
  </h4>

  <ion-row *ngIf="!supplierProductData">
      <ion-col class="spinnerCenter"><ion-spinner name="bubbles"></ion-spinner></ion-col>
  </ion-row>

  <ion-list *ngFor="let supplierProduct of supplierProductData">
    <ion-item *ngFor="let variation of this.generateArray(supplierProduct); let key = index">
        <h2>{{variation.key}}</h2>
        <p item-end>{{variation.value}}</p>
    </ion-item>
  </ion-list>

</ion-content>
